*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/myphoto.png);
    background-size: cover;
    background-position: center;
    height: 100vh;

}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto
}

/*nav bar styling*/

.navbar{
    positon: fixed;
    width: 100%;
    background: rgba(88, 88, 88, 0.67);
    padding: 15px 0;
    font-family: 'Lato', 'Arial', 'sans-serif';
    transition: all 0.3s ease
}

.navbar .sticky{
    padding: 1px 0;
    background: crimson;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: rgba(46, 46, 46, 0.9);
    font-size: 30px;
    font-weight: 500;
    text-decoration: none !important;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    color: rgba(46, 46, 46, 0.9);
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none !important;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: crimson;

}

.menu-btn{
    color: #000;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/*home section*/

.home{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/myphoto.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    display: flex;
    font-family: 'Lato', 'Arial', 'sans-serif';
}

.home .max-width{
    margin: auto 0 auto 40px;
}

.home .home-content .text-1{
    font-size: 25px;
}

.home .home-content .text-2{
    font-size: 50px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3{
     font-size: 35px;
     margin: 5px 0;
}

.home .home-content a{
    display: inline-block;
    text-decoration: none !important;
    background: crimson;
    color: #fff;
    font-size: 15px;
    padding: 10px 26px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid crimson;
    transition: all 0.3s ease;
}

.home .home-content a:hover{
    color: #fff;
    background: none;
}
/*responsive media start*/

@media (max-width: 941){
    .max-width{
        padding: 0 50px;
}
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #000;
        text-align: center;
        padding-top: 80px;
    }

    .navbar .menu.active{
        left: -0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
}

